/*shared styles*/
body{
    margin: 50px 140px;
}
.banner{
    
    
}
.banner1{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url(./resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1320px;
    height: 600px;
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;  
    font-weight: 400;
   padding-top: 177px; 
    
}
.banner2{
    font-size: 70px;
    font-weight: 900;
}
