
body{
    
    width: 1600px;
    height: 7335px;
    margin: 50px 50px 140px 140px; ;
    background: #FFF;
}
.banner1{
    margin: 50px 140px;
    background-image: url(./resources/Banner\ Image.png), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
    width: 1320px;
    height: 400px;
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;  
    font-weight: 400;
   padding-top: 177px;
   border-radius: 16px; 
   align-items: center;
   
   
}
.banner2{
    
    font-size: 70px;
    font-weight: 900;
}
.off{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    padding-top 120px;
    margin-bottom: 0px ;
.main-off{
    margin: 0px;
}
    
}
.off2{ 
    margin-top: 48px;
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
.off3{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    }
.hny{
    margin-top: 48px;
    margin-bottom: 0px;
}

